@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply mx-auto max-w-screen-xl px-8;
}

.custom-cols {
  grid-template-columns: repeat(2, minmax(22rem, 1fr));
}

.inline-code {
  @apply inline-block rounded-md bg-black/20 font-mono;
  font-size: 0.9em;
  padding: 0 0.6ch;
  margin: 0 0.2ch;
}

.underline-animation {
  @apply relative inline-block;

  &::after {
    content: "";
    @apply absolute bottom-0 left-0 h-[0.075em] w-full bg-current opacity-0 transition-all;
  }
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  @apply translate-y-0 opacity-100;
  transform: translate3d(0, 0.1em, 0);
}
