@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-*: initial;
  --font-sans:
    var(--font-poppins), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    var(--font-sunset), ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --color-dark: #10213a;
  --color-light: #e0feff;
  --color-lighter: #b8e0e1;
  --color-brand: #f4a430;
  --color-accent: #25bbc5;

  --animate-wave: wave-rotate 1s ease-in-out infinite;
  --animate-wave-y:
    wave-rotate 1s ease-in-out infinite, wave-y 2s ease-in-out infinite;

  --breakpoint-xs: 480px;

  @keyframes wave-rotate {
    0%,
    100% {
      rotate: -5deg;
    }
    50% {
      rotate: 5deg;
    }
  }
  @keyframes wave-y {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.3rem);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.wrapper {
  @apply mx-auto max-w-(--breakpoint-xl) px-8;
}

.custom-cols {
  grid-template-columns: repeat(2, minmax(22rem, 1fr));
}

.inline-code {
  @apply inline-block rounded-md bg-black/20 font-mono;
  font-size: 0.9em;
  padding: 0 0.6ch;
  margin: 0 0.2ch;
}

.underline-animation {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    height: 0.075em;
    width: 100%;
    opacity: 0;
    transform: translateY(-0.2em);
    transition:
      opacity 150ms ease-in-out,
      transform 150ms ease-in-out;
  }
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  @apply translate-y-0 opacity-100;
  transform: translate3d(0, 0.1em, 0);
}
