@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply mx-auto max-w-screen-xl px-8;
}

.custom-cols {
  grid-template-columns: repeat(2, minmax(22rem, 1fr));
}

.inline-code {
  @apply inline-block rounded-md bg-black/20 font-mono;
  font-size: 0.9em;
  padding: 0 0.6ch;
  margin: 0 0.2ch;
}

.underline-animation {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    height: 0.075em;
    width: 100%;
    opacity: 0;
    transform: translateY(-0.2em);
    transition:
      opacity 150ms ease-in-out,
      transform 150ms ease-in-out;
  }
}

.underline-animation:hover::after,
.underline-animation:focus::after {
  @apply translate-y-0 opacity-100;
  transform: translate3d(0, 0.1em, 0);
}
